.contener-categorie{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "cat1 "
                          "cat3"
                          "cat5"
                          "cat7"
                          "cat2"
                          "cat4"
                          "cat6"
                          "cat8";
    grid-gap:2px;
    padding: 20px 0px;
 background:linear-gradient(to bottom,#3a1d15,#824838c9,#731C24,#A91C2B,#D21C31);
}
.contener-categorie div{
    opacity: 0.7;
    
}
.contener-categorie div:hover{
    transform:scale(1.02);
    opacity: 1;


}
.instru {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;

  }
  .instru::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 254, 254);
    transition: transform 250ms;
  }
  .instru:hover::after {
    transform: translateX(-50%) scaleX(0.8);
  }
.instru p{
    position: absolute;
    width: 70%;
    top: 100px;
    left: 20%;

    font-size: 500%;
    color: #FFF;
    font-family:'GreatVibes';  
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.596);
}
.corde-frotté{
    width: 95%;
    height: 300px;
    padding-left:5%;
    grid-area:cat1;
}
.corde-pincé{
    width: 95%;
    height: 300px;
    grid-area:cat2;
}
.corde-frappé{
    width: 95%;
    height: 300px;
    padding-left:5%;
    grid-area:cat3;
}
.bois{
    width: 95%;
    height: 300px;
    grid-area:cat4;
}
.cuivre{
    width: 95%;
    height: 300px;
    padding-left:5%;
    grid-area:cat5;
}
.percussion-clavier{
    width: 95%;
    height: 300px;
    grid-area:cat6;
}
.percussion-peau{
    width: 95%;
    height: 300px;
    padding-left:5%;
    grid-area:cat7;
}
.percussion-accessoire{
    width: 95%;
    height: 300px;
    grid-area:cat8;
}
.instru img {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.instru img:hover{
    box-shadow: 4px 6px 10px white;
}
@media screen and (min-width:440px){
    .contener-categorie{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "cat1 cat2"
                              "cat3 cat4"
                              "cat5 cat6"
                              "cat7 cat8";
        grid-gap:20px;
    }
    
}